:root {
  font-size: 60%;

  --color-primary: #FFFFFF;
  --color-label: #A8C3EC;
  --color-button-main: #fbd700;
  --color-button-main-darker: #daa809;
  --color-button-secondary: #5EA7FF;
  --color-button-secondary-text: #FFFFFF;
  --color-input: #F4F9FE;
  --color-input-text: #FFFFFF;
  --color-text-base: #FFFFFF;
  --color-background: #003058;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body, input, button, textarea {
  font: 500 1.6rem Lato;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
