.page_landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page_landing_content {
  width: 100vw;
  height: 100vh;
  border-radius: 20px;

  padding: 4rem;
  text-align: center;
}

.logo_container .text {
  font: 700 4rem Lato;
  margin: 1rem 0;
}

.logo_container {
  text-align: center;
  margin-top: 5rem;
}

.logo_container img {
  height: 7rem;
}

.logo_container p {
  margin-top: 4rem;
}

.buttons_container {
  display: flex;
  justify-content: center;
  margin: 10.2rem 0;
  background: var(--color-button-text);
  gap: 5rem;
}

.buttons_container .button {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  font: 700 2rem Lato;
  gap: 3rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  background: var(--color-button-main);
  color: var(--color-background);

  transition: background 0.2s;
}

.buttons_container .button:hover {
  background: var(--color-button-main-darker);
}

@media (max-width: 700px) {
  .buttons_container .button {
    font: 700 15px Lato;
    width: 13rem;
    flex-direction: column;
    padding: 1rem;
  }

  .buttons_container .button img{
    height: 4rem;
  }
}
